<div class="list-group-item contact-edit">

 <div ng-show="show_errors" id="name-errors" class="">
   <div ng-show="contactform.name.$error.required" class="alert alert-danger" role="alert">
     <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
     <span class="sr-only">Error:</span>
     <span>Name cannot be empty!</span>
   </div>
   <div ng-show="contactform.name.$error.minlength" class="alert alert-danger" role="alert">
     <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
     <span class="sr-only">Error:</span>
     <span>Name is too short!</span>
   </div>
 </div>
 <div ng-show="show_errors" id="name-errors" class="">
   <div ng-show="contactform.tel.$error.required" class="alert alert-danger" role="alert">
     <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
     <span class="sr-only">Error:</span>
     <span>Telephone cannot be empty!</span>
   </div>
   <div ng-show="contactform.tel.$error.minlength" class="alert alert-danger" role="alert">
     <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
     <span class="sr-only">Error:</span>
     <span>Telephone is too short!</span>
   </div>
 </div>


  <div class="image-upload">
    <label for="file-input">
      <img class="img-rounded profile" ng-src="{{contact.img}}"/>
    </label>
    <input id="file-input" type="file" onchange="angular.element(this).scope().updateImage(this.files)"/>
  </div>

  <form id="contact-edit-info" name="contactform">
    <label class="control-label" for="name">Name</label>
    <input id="name" name="name" ng-model="contact.name" type="text" value="" required ng-minlength="3">
    <label class="" for="tel">Tel</label>
    <input id="tel" name="tel" ng-model="contact.tel" type="text" value="" required ng-minlength="9">
  </div>
</form>

<div class="dropup action-btn">
  <button aria-expanded="false" aria-haspopup="true" class="btn btn-default btn-danger action-btn dropdown-toggle" data-toggle="dropdown" id="dropdownMenu2" type="button">
    <span aria-hidden="true" class="glyphicon glyphicon-pencil"/>
  </button>
  <div aria-labelledby="dropdownMenu2" class="dropdown-menu action-btn-options">
    <button class="btn btn-default btn-danger action-btn" ng-click="save()" type="button">
      <span aria-hidden="true" class="glyphicon glyphicon-ok"/>
    </button>
    <button class="btn btn-default btn-danger action-btn" ng-click="cancel()" type="button">
      <span aria-hidden="true" class="glyphicon glyphicon-remove"/>
    </button>
    <button class="btn btn-default btn-danger action-btn" ng-click="delete()" ng-disabled="!contact.id" type="button">
      <span aria-hidden="true" class="glyphicon glyphicon-trash"/>
    </button>
  </div>
</div>
