<div class="list-group-item contact-edit">
  <div class="image-upload">
    <label for="file-input">
      <img src="/img/profile.png"/>
    </label>
    <input id="file-input" type="file"/>
  </div>
  <div id="contact-edit-info">
    <label class="control-label" for="name">Name</label>
    <input id="name" name="name" ng-model="contact.name" type="text" value="">
    <label class="" for="tel">Tel</label>
    <input id="tel" name="tel" ng-model="contact.tel" type="text" value="">
  </div>
</div>

<div class="dropup action-btn">
  <button aria-expanded="false" aria-haspopup="true" class="btn btn-default btn-danger action-btn dropdown-toggle" data-toggle="dropdown" id="dropdownMenu2" type="button">
    <span aria-hidden="true" class="glyphicon glyphicon-pencil"/>
  </button>
  <div aria-labelledby="dropdownMenu2" class="dropdown-menu action-btn-options">
    <button class="btn btn-default btn-danger action-btn" ng-click="save()" type="button">
      <span aria-hidden="true" class="glyphicon glyphicon-ok"/>
    </button>
    <button class="btn btn-default btn-danger action-btn" ng-click="cancel()" type="button">
      <span aria-hidden="true" class="glyphicon glyphicon-remove"/>
    </button>
    <button class="btn btn-default btn-danger action-btn" ng-click="delete()" type="button">
      <span aria-hidden="true" class="glyphicon glyphicon-trash"/>
    </button>
  </div>
</div>
